<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>profile.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>profile.controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadProfileServlet</servlet-name>
        <servlet-class>profile.controller.ReadProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>profile.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <servlet-class>profile.controller.DeleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTaskServlet</servlet-name>
        <servlet-class>tasks.controller.CreateTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadTaskServlet</servlet-name>
        <servlet-class>tasks.controller.ReadTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEquipmentServlet</servlet-name>
        <servlet-class>equipments.controller.ReadEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCropsServlet</servlet-name>
        <servlet-class>crops.controller.ReadCropsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCropsServlet</servlet-name>
        <servlet-class>crops.controller.CreateCropsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <servlet-class>tasks.controller.UpdateTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEquipmentServlet</servlet-name>
        <servlet-class>equipments.controller.UpdateEquipmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadProfileServlet</servlet-name>
        <url-pattern>/ReadProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <url-pattern>/DeleteProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTaskServlet</servlet-name>
        <url-pattern>/CreateTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadTaskServlet</servlet-name>
        <url-pattern>/ReadTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEquipmentServlet</servlet-name>
        <url-pattern>/ReadEquipmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCropsServlet</servlet-name>
        <url-pattern>/ReadCropsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCropsServlet</servlet-name>
        <url-pattern>/CreateCropsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <url-pattern>/UpdateTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEquipmentServlet</servlet-name>
        <url-pattern>/UpdateEquipmentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>farmerlogin.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
