
        body {
            font-family: "Lato", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fffcea;
        }
        header {
            background-color: #0a5a0a;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        nav {
            background-color: #6abf69;
            padding: 10px;
            text-align: center;
        }
        nav a {
            text-decoration: none;
            color: #333;
            padding: 5px 10px;
            margin: 0 5px;
        }
        nav a:hover {
            background-color: #6abf69;
            color: #fff;
        }
        section {
            display: flex; /* Make section a flex container */
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items horizontally */
            padding: 20px;
        }
        footer {
            background-color: #0a5a0a;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        main {
        margin: 20px auto;
        max-width: 800px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        }

        table th, table td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        table th {
            background-color: #f2f2f2;
            color: #333;
        }

        table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        body {
              font-family: "Lato", sans-serif;
            }

            .sidenav {
              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: #111;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 60px;
            }

            .sidenav a {
              padding: 8px 8px 8px 35px;
              text-decoration: none;
              font-size: 25px;
              color: #818181;
              display: block;
              transition: 0.3s;
            }

            .sidenav a:hover {
              color: #f1f1f1;
            }

            .sidenav .closebtn {
              position: absolute;
              top: 0;
              right: 25px;
              font-size: 36px;
              margin-left: 60px;
            }

            @media screen and (max-height: 450px) {
              .sidenav {padding-top: 15px;}
              .sidenav a {font-size: 18px;}
            }
            canvas {
    margin-bottom: 50px; /* Adjust the bottom margin to add space between charts */
}
